{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

## License
- Source code is licensed under MIT

## Contributors
- Vault Raft Snapshot Agent was originally developed by [Lucretius on Github](https://github.com/Lucretius/vault_raft_snapshot_agent)
